services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      # 应用环境变量
      - APP_LISTEN_ADDR=:8080
      - MYSQL_HOST=mysql
      - MYSQL_PORT=3306
      - MYSQL_DB_NAME=zhihu
      - MYSQL_USER=root
      - MYSQL_PASSWORD=@@XXIIAA@@
      - REDIS_ADDR=redis:6379
      - JWT_SECRET=secret # TODO
      - LOG_LEVEL=info # TODO
    depends_on:
      - mysql
      - redis
    restart: unless-stopped
    networks:
      - app-network

  mysql:
    image: mysql:latest
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: '@@XXIIAA@@'
      MYSQL_DATABASE: 'zhihu'
    volumes:
      - mysql_data:/var/lib/mysql
    restart: unless-stopped
    networks:
      - app-network

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: unless-stopped
    networks:
      - app-network

volumes:
  mysql_data:
  redis_data:

networks:
  app-network:
    driver: bridge